*{
  list-style: none;
}

.Head {
  text-align: center;
  background-color:#0fbcf9;
}

.Head-logo {
  height: 10vmin;
  pointer-events: none;
}

.titleCV{
  font-size:2rem;
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  .Head-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.Head-header {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  min-height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.list-group-item.active{
  background-color: #0fbcf9 !important;
  color: white !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
